{% extends 'member/base.html' %}
{% load static %}
{% block head_title %}Signup{% endblock %}
{% block content%}
<form action="{% url 'sign' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>Sign Up</h3>
  {% if messages %}
  {% for message in messages %}
  <p style="margin: 30px 0; text-align: center; font-size: 13px; color: red;">{{message|safe}}</p>
  {% endfor %}
  {% endif %}
  <div class="form-row">
    <input type="text" class="form-control" placeholder="First Name" name="first_name">
    <input type="text" class="form-control" placeholder="Last Name" name="last_name">
  </div>
  <div class="form-row">
      <input type="text" class="form-control" placeholder="Username"  name="username">
      <input type="text" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-row">
      <input type="password" class="form-control" placeholder="Password"  name="password">
      <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
  </div>
  <div class="form-row">
      <input type="text" class="form-control" placeholder="Contact No." name="phone_number">
      <label for="uploadImg" class="form-control" style="padding: 12px;" style="cursor: pointer;">Add Profile Image</label>
      <input type="file" name="profile_img" id="uploadImg" style="display: none;">
  </div>
  <button type="submit">Sign Up<i class="fa fa-arrow-right"></i></button><br>
  <h3>OR</h3>
  <p>Sign in with</p>
  {% include "member/includes/providers.html" with process="signup" %}
  <p style="margin: 30px 0; text-align: center; font-size: 13px;">Have an account? <a href="{% url 'log' %}">Log in</a></p>
</form>
{% endblock %}