{% extends 'admins/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="white_card mx-4 my-4 card_height_100 mb_30">
            <div class="white_card_header">
                <div class="box_header m-0">
                    <div class="main-title">
                    <h3 class="m-0">Message Details</h3>
                    </div>
                </div>
            </div>
            <div class="white_card_body position-relative">
                <p class="my-3"><span class="text-dark fw-bold fs-6">Name: </span> <span class="text-dark fs-6">{{message_detail.name}}</span></p>
                <p class="my-3"><span class="text-dark fw-bold fs-6">Email: </span> <span class="text-dark fs-6">{{message_detail.email}}</span></p>
                <p class="my-3"><span class="text-dark fw-bold fs-6">Subject: </span> <span class="text-dark fs-6">{{message_detail.subject}}</span></p>
                <p class="my-3 w-75"><span class="text-dark fw-bold fs-6">Message body: </span> <span class="text-dark fs-6">{{message_detail.message}}</span></p>
                <div class="position-absolute end-0 bottom-0">
                    <a href="mailto:{{message_detail.email}}" class="btn_1 my-1 mx-4" target="_blank">Reply</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}